@import "tailwindcss";

/* === Animated Dotted Background === */
/* .animated-bg {
  background-color: #f7f7f7;
  background-image: radial-gradient(rgba(120, 80, 255, 0.9) 6%, transparent 6%),
    radial-gradient(rgba(120, 80, 255, 0.9) 6%, transparent 6%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  animation: moveDots 2s linear infinite;
  filter: drop-shadow(0 0 6px rgba(120, 80, 255, 0.6));
}

@keyframes moveDots {
  from {
    background-position: 0 0, 30px 30px;
  }
  to {
    background-position: -60px 0, -30px 30px;
  }
} */
